body{
  background-color: #ebecf0 !important;
  /* background-color: red; */
}

.singin-header{
  text-align: center;
  padding-top: 60px;
}

.singin-header .content{
  padding-top: 20px;
}

.content-title{
  font-size: 24px;
}

.content-body{
  font-size: 16px;
  padding-top: 10px;
  color: grey;
}

.singin-card{
  background-color: white;
  width: 50%;
  height: 20%;
  border-radius: 3px;
  padding: 20px;
  margin-left: 25%;
  margin-top: 30px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-container{
	position:relative;
  margin-bottom:20px;
}

.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
  transition: all 0.5s ease-in-out;
}

.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  outline:0;
}

.input-container input:focus{ 
 border:none;	
 outline:0;
 border-bottom:1px solid black;	
}

input:focus{
  outline: red;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
  top:-12px;
  border:none;	
  outline:none;
	font-size:12px;
}

.submit-button{
  width: 60%;
  background-color: blue;
  padding: 10px;
  border: none;
  justify-content: center;
  margin-left: 18%;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.submit-button:focus{
  outline: none;
  cursor: pointer;
}

.loading-div{
  display: flex;
  justify-content: center;
  padding-top: 15%;
}

.cre-card{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  margin-left: 30%;
  margin-top: 6%;
}

.otpinput{
  height: "120%";
  width: "200%";
  padding:"5px";
  border: "none";
  border-bottom: "2px solid green";
}

.otp-button{
  margin-top: "10px";
  width: "74%";
  padding: "5px";
  background-color: "blue";
  border: "none";
  color: "white";
  font-size: "14px";
}

.boxShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fixed-top{
  overflow: hidden;
  background-color: white;
}

.p10{
  padding: 10px;
}

.slider {
  height: 2px;
  background-color: blue;
  width: 0%;
  transition: width 1s;
}

.underline {
  color:blue;
}
.underline a{
  color: black !important;
}

.underline:hover > .slider {
  width: 100%;
}

.info-content{
  width: 500px;
  margin-left: 15px;
  float: left;
  background-color: #fef2d8;
}

.info-content-header{
  background-color: #feeab8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-size:14px
}

.info-content-p{
  padding: 10px;
  
}

.info-content-body{
  float: left;
  border-radius: 0px 0px 10px 10px;
}

.info-content-li{
  width: 100%;
  display: flex;
  float: left;
  font-size: 20px;
  padding-bottom: 10px;
}

.line-p{
  font-size: 14px;
  padding-left: 10px;
}

.register-link{
  width: auto;
  text-align: center;
}

.register-link a{
  font-size: 12px;
}

.searchBox {
  width: 30%;
  height: 500px;
  background-color: white;
}

.m5{
  margin-left: 5%;
}

.searchHeader{
  padding: 10px;
}

.searchHeader-p{
  font-size: 14px;
  font: bold;
  font-weight: 900;
}

.search-button{
  padding-left: 65%;
}

.search-button:hover{
  outline: none;
}

.amenitybox{
  padding: 20px;
  width: 300px;
  background-color: white;
  position: sticky;
  top: 40px;
  position: -webkit-sticky;
}

.search{
  width: 100%;
}

.search-header{
  display: flex;
}

.search-header-p{
  font-size: 13px;
  font-weight: 900;
  padding-top: 20px;
  width: 50%;
}

.search-header-span{
  font-size: 12px;
  padding-top: 20px;
  color: grey;
  padding-left: 50%;
  cursor: pointer;
  float: right;
}

.MuiFormControlLabel-root{
  margin-Left: 0 !important;
  margin-right: 0 !important;
  margin-top: -25px;
}

.MuiTypography-body1{
  font-size: 12px !important;
}

.searchcontent{
  width: 800px;
}

.searchcontent-div{
  width: 50%;
  margin-left: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* flex-direction: column; */
}

.searchcontent-div span{
  margin-top: -15px;
  font-size: 10px;
  color: grey;
  font-weight: 600;
}

.hr-tag{
  width: 90%;
}

.hotel-card{
  width: 95%;
  margin-left: 25px;
  display: flex;
  background-color: white;
  margin-top: 4%
}

.hotel-card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.hotel-card-img{
  max-width: 150%;
}

.hotel-card-img img{
  width: 246px;
  height: 180px;
}

.hotel-car-details{
  width: 60%;
  /* background-color: red; */
  padding-left: 15px;
  padding-top: 10px;
}

.hotel-car-details .name{
  font-size: 18px;
  font-weight: 200;
}

.hotel-car-details .rating{
  padding-top: 3px;
}

.MuiRating-decimal{
  font-size: 18px;
}

.amenities{
  display: flex;
  flex-wrap: wrap;
}

.amenities-icons .icons{
  font-size: 15px;
}

.amenities-icons{
  font-size: 13px;
}

.hotel-price{
  width: 20%;
  text-align: right;
}

.hotel-price-p{
  padding-top: 30%;
  padding-right: 10px;
}

.hotel-price-div{
  font-size: 12px;
  margin-top: -15%;
  padding-right: 13px;
}

.hotel-price-button{
  padding-right: 10px;
  padding-top: 10px;
}

.hotel-price-button button{
  font-size: 10px;
}

.leftarrow-icon{
  font-size: 25px;
  color: grey;
  transition: color 1s;
}

.back-icon {
  font-size: 14px;
}

.back-icon a{
  color: black;
  text-decoration: none;
  transition: color 1s;
}

.back-icon a:hover{
  color: red;
  text-decoration: none;
}

.leftarrow-icon:hover{
  color: red;
}

.w8{
  width: 90%;
  /* background-color: red; */
}

.hotel-name{
  font-size: 1.429em;
  font-weight: 600;
}

.flex-d{
  display: flex;
}

.rating{
  padding-top: 10px;
}

.flex-wrap-dir{
  flex-wrap: wrap;
  flex-direction: column;
}

.hotel-details-price-p, .hotel-price-p{
  font-size: 27px;
  font-weight: 700;
}
.hotel-details-price{
  flex-wrap: wrap;
  flex-direction: column;
}

.hotel-details-price-p{
  text-align: right;
}

.boxCreate{
  background-color: white;
  padding: 40px;
}

.checkAvailability{
  padding: 10px;
}

.checkAvailability p{
  font-size: 20px;
}

.box-rooms{
  border: 1px solid grey;
  padding: 10px;
  margin-top: 20px;
}

.box-rooms p{
  font-size: 17px;
  font-weight: 500;
}

.checkout-box{
  width: 85%;
  /* background-color: red; */
  margin-left: 8%;
  margin-top: 120px;
}

.review-booking{
  width: 75%;
  font-size: 1.429rem;
  /* background-color: blue; */
  /* padding-top: 20px; */
}

.box-title{
  margin: 0 0 0.7143rem 0;
  padding: 0;
  font-size: 1.429rem;
  letter-spacing: -0.2px;
  text-align: left;
  display: inline-block;
  color: #333;
  font-weight: 600;
  font-family: "Rubik-Medium";
}

.grad{
  background-color: #fff;
  background-image: linear-gradient(to right, #43264e,#ea2331);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-content{
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  padding: 2.143rem;
}

.disp-table{
  display: table;
  width: 100%;
}

.disp-table .disp-table-cell {
  display: table-cell;
  vertical-align: top;
}

.pr{
  position: relative;
}

.ovf-hidden{
  overflow: hidden;
  border-radius: 4px;
}

.itin-img{
  transition: opacity 100ms ease-in-out;
  opacity: 1;
  height: 200px;
}

.fs-18 {
  font-size: 1.286rem;
}

.gray-dark {
  color: #333;
}

.disp-table-cell .text-truncate {
  max-width: 460px;
  display: inline-block;
  vertical-align: top;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.disp-table .disp-table-cell {
  display: table-cell;
  vertical-align: top;
}

.itin-img-wrap {
  max-width: 248px;
  min-width: 248px;
  margin-right: 2.143rem;
  width: 248px;
  height: 200px;
  float: left;
}

.ml10 {
  margin-left: 10px;
}

.rating-bg {
  font-size: 18px;
  position: relative;
}

/* .address-txt {
  line-height: 10px;
  padding-top: 5px;
} */

.gray-light {
  color: #999;
}

.fs-base {
  font-size: 1rem;
}

.normal {
  font-family: "Rubik-Regular","Arial, Helvetica, sans-serif";
  font-weight: normal;
}

.mt20 {
  margin-top: 20px;
}

.stay-dates {
  width: 240px;
  float: left;
}

.stay-dates .cal-block {
  width: 103px;
  height: 140px;
  border-radius: 2.8px;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
  text-align: center;
  position: relative;
  margin-right: 8px;
  color: #666;
  display: inline-block;
}

.stay-dates .cal-block .cb-top {
  padding: 10px;
}

.stay-dates .cal-block .cb-top .checkin-text {
  position: relative;
  bottom: 2px;
}

.stay-dates .cal-block .cb-top .bkg-date {
  font-size: 30px;
  font-weight: 500;
  color: #333;
  display: block;
}

.cal-block{
  text-align: center;
}

.checkin-text{
  font-size: 15px;
}

.itinerary .stay-dates .cal-block .cb-footer {
  background-color: #fff;
  font-size: .8571rem;
  line-height: 1.39;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4px 0;
}

.pb2 {
  padding-bottom: 2px;
}

.list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.itin-details ul li {
  font-size: 1.143rem;
}

.bold {
  font-family: "Rubik-Medium";
  font-weight: normal;
}

.pull-left {
  float: left !important;
}


.itin-details ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.box-title {
  width: 100%;
}

.box-title {
  margin: 0 0 0.7143rem 0;
  padding: 0;
  font-size: 1.4rem;
  letter-spacing: -0.2px;
  text-align: left;
  display: inline-block;
  color: #333;
  font-weight: 900;
  font-family: "Rubik-Medium";
}

.normal {
  font-family: "Rubik-Regular","Arial, Helvetica, sans-serif";
  font-weight: normal;
}

.fs-md {
  font-size: 1.143rem !important;
}

.pd-tp {
  padding-top: 13px;
}

.pd-btm-0 {
  padding-bottom: 0 !important;
}

.pb5 {
  padding-bottom: 5px;
}

.list {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.mt5 {
  margin-top: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

.box-content.aside-box-content {
  padding: 0.7rem 1.429rem;
}

.box-content {
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px 0 #c8c8c8;
  -moz-box-shadow: 0 2px 4px 0 #c8c8c8;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  padding: 2.143rem 3.214rem;
}

.uls{
  padding-bottom: 20px;
}

.charge{
  padding-top: 10px;
  font-size: 0.9rem;
  color: grey;
}

.price{
  float: right !important;
}

.button-div{
  padding-left: 35%;
  padding-top: 3%;
}

.profile{
  margin-top: 20px;
  width: 100%;
}

.profile .name{
  font-size: 1rem;
  font-weight: 600;
}

.profile-details span{
  margin-left: 20px;
}

.profile-input{
  width: 30%;
}

.box{
  width: 20%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.box:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.whyBook_title {
  background: linear-gradient(90deg,#ea2331,#43264e 50%);
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 28px;
  font-size: 20px;
  -webkit-text-fill-color: transparent;
}

.reasons {
  font-size: 14px;
  padding: 5px 0 20px;
  line-height: 25px;
}

.paragraphHeading {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about{
  font-size: 14px;
  line-height: 200%;
}

.review{
  width: 100%;
  /* background-color: red; */
  display: flex;
}

.reviewer-img{
  width: 10%;
  /* background-color: blue; */
}

.reviewer-img span{
  margin-left: 20%;
  padding-top: 8%;
  padding-left: 24%;
  height: 75px;
  width: 75px;
  background-color: yellow;
  border-radius: 50%;
  font-size: 2rem;
  display: inline-block;
}

.reviews{
  width: 100%;
  margin-left: 20px;
  /* background-color: red; */
}

.reviews span{
  font-size: 1rem;
  font-weight: 700;
}

.comments{
  font-size: 13px;
  padding-left: 10px;
}